.filter{
    padding:150px 0px 0px 70px;
    background-color: #F1E8E8;
    select {
        background-color: #DFD3D5;
        border: none;
        width: 130px;
        height: 43px;
        font-size: 24px;
        padding-left: 10px;
    }
}