.top-inner{ 
    padding-top: 90px;
    background-color: #F1E8E8;
    margin: 0 auto;
    min-height: 100vh;
    padding-left: 70px;
    padding-bottom: 20px;
}
.top-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}
.top-filt{
    display: flex;
    background-color: #F1E8E8;
}
.error{
    display: none;
   
}
@media(max-width:1118px){
    
    .top-filt {
        justify-content: center;
    }
    .top-wrap{
        justify-content: center;
    }
}
@media(max-width:788px){
    .top-inner {
        padding-left: 15px;
    }
}