@import '../variables.scss';

.film-page{
    background-color: $container-color;
    min-height: 100vh;
    padding-bottom: 20px;
}
.big-image{
    width: 349px;
    height: 485px;
}
.discribe{
    padding-top: 140px;
    margin: 0px 90px;
    
    
    
}
.discribe-up{
    display: flex;
    gap: 150px ;
    margin-bottom: 50px;
}
.discribee-up__title{
   padding-left: 100px;
   margin-bottom: 60px;
   font-size: 36px;
   font-weight: 700;
}
.discribe__item{
    display: flex;
    gap: 43px;
    margin-bottom: 17px;
}
.discribe__item-name{
    width: 150px;
    text-align: left;
    color: black;
    opacity: 0.5;
}
.discribe__menu{
    display: flex;
     gap: 25px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
   li{
       font-size: 22px;
       a{
           color: black;
           display: inline-block;
           padding-bottom: 2px;
           border-bottom: 1px solid transparent ;

       }
       a:hover{
         border-bottom: 1px solid #000 ;
         transform: translateY(-5px);
         transition: transform ease-out 0.5s;
         
       }
       a:active{
        border-bottom: 1px solid #000 ;
       
        
      }
   }
}
.discribe-down__text{
    max-width: 755px;
    margin-bottom: 30px;
    font-size: 22px;
}

.rating__title{
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 500;
}

.pragress {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
    
    .progress__wrapper{
        width: 414px;
        background-color:#C4C4C4;
        opacity: 0.4;
        height: 24px;
        border-radius: 20px;
        margin: auto 0;
    
    }
    .progress__inner{
     background-color: #9DC796;
     opacity: 1;
     width: 80%;
     height: 24px;
     border-radius: 20px;
    
    }
    .rate-value{
        font-size: 42px;
        color: #3CCB4A;
        font-weight: 700;
    }
    
    
  }
  .error{
   display: none;
  }

  @media(max-width:1018px){
    .discribe {
        padding-top: 210px;
    } 
    .discribee-up__title {
        padding-left: 60px;
        font-size: 33px;
    } 
    .discribe-up {
        gap: 59px;
    }
}
@media(max-width:1018px){
    .discribe{
        margin: 0 30px;
    }
}
@media(max-width:788px){
    .discribe {
        padding-top: 150px;
    }
    .discribe-up {
        flex-direction: column;
        align-items: center;
    }
    .discribee-up__title {
        padding: 0;
        font-size: 22px;
        margin-bottom: 40px;
    }
    .discribe__item {
        font-size: 14px;
    }
}
@media(max-width:605px){
    .discribe__menu-link{
     font-size: 20px;
    }
    .discribe__menu {
        gap: 20px;
    }
}
@media(max-width:550px){
    .discribe__menu-link{
     font-size: 18px;
    }
    .discribe__menu {
        gap: 18px;
    }
}
@media(max-width:493px){
    .discribe__menu-link{
     font-size: 16px;
    }
    .discribe__menu {
        gap: 16px;
    }
    .discribe-down__text {
        font-size: 17px;
    }
}
@media(max-width:446px){
    .discribe {
        margin: 0px 10px;
    }
    .discribe__menu-link{
     font-size: 14px;
    }
    .discribe__menu {
        gap: 14px;
    }
    .image-block {
        max-width: 360px;
    }
    .img-block {
        width: 260px;
        height: 250px;
    }
    .discribe-down__text {
        font-size: 14px;
    }
}
@media(max-width:380px){
    .discribe__menu-link{
        font-size: 12px;
       } 
       .discribe__menu {
        gap: 12px;
    }
    .big-image{
        width: 300px;
        height: 485px;
    }
    .pragress .rate-value {
        font-size: 30px;
        color: #3CCB4A;
        font-weight: 700;
    }
}