.image-block{
    position: relative;
    max-width: 600px;
    margin: 0;
    padding: 0;
    transition: all 2s .5;
    .slick-arrow{
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: white;
    }
    .slick-prev {
        left: -48px;
    }
    .slick-next {
        right: -50px;
    }
}

.img-block{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

@media(max-width:663px){
    .img-block {
        width: 497px;
        height: 519px;
        object-fit: contain;
    }
    .image-block {
        max-width: 498px;
        
    }

}
@media(max-width:550px){
    .img-block {
        width: 400px;
        height: 500px;
        object-fit: contain;
    }
    .image-block {
        max-width: 400px;
        
    }

}

@media(max-width:468px){
    .img-block {
        width: 300px;
        height: 250px;
        object-fit: contain;
    }
    .image-block {
        max-width: 300px;
        
    }

}