.premiers-inner{
    padding-top: 150px;
    background-color: #F1E8E8;
    margin: 0 auto;
    padding-left: 70px;
    min-height: 100vh;
}
.premiers-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}
.premiers-filt{
    display: flex;
    background-color: #F1E8E8;
}
.error{
    display: none;
}
