.popular-inner{
    padding-top: 90px;
    background-color: #F1E8E8;
    margin: 0 auto;
    min-height: 100vh;
    padding-left: 70px;
    padding-bottom: 20px;
}
.popular-filt{
    display: flex;
    justify-content: center;
    background-color: #F1E8E8;
}
.popular-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}
.but{
    margin: 50px auto;
    background-color: red;
    border: none;
    width: 171px;
    height: 50px;
    font-size: 20px;
}
.error{
    display: none;
}


@media(max-width:1118px){
    
    .popular-wrap {
        justify-content: center;
    }
}
@media(max-width:788px){
    .popular-inner {
        padding-left: 15px;
    }
}
