.actors-wrapper{
  display: flex;

  padding-top: 70px;
  gap: 80px;

  .actors-name{
    font-weight: 600;
    font-size: 23px;
    line-height: 130%;
  }
  .actors-role{
      padding-top: 6px;
    font-weight: 300;
    font-size: 17px;
    line-height: 130%
  }
  .actors-image{
    img{
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
    
  }
  

}
@media(max-width:550px){
  .actors-wrapper {
    gap: 0px;
}
.actors-wrapper .actors-name {
  font-size: 20px;
}
.actors-wrapper .actors-role {
  font-size: 14px;
}
}
@media(max-width:400px){
.actors-wrapper .actors-name {
  font-size: 17px;
}
}
