
body{
  background-color:#DFD3D5 ;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  
}

.img{
  position: absolute;
  width: 100%;
}
.img__gradient{
  width: 100%;
 
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}

.films{
  margin: 0px;
  z-index: 1; 
}
